.formulario-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.formulario-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.formulario-gp {
    margin-bottom: 20px;
}

.formulario-gp label {
    display: block;
    margin-bottom: 5px;
}

.formulario-gp input[type="text"], 
.formulario-gp input[type="email"],
.formulario-gp textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.formulario-gp textarea {
    height: 100px;
}

.formulario-gp input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-gp input[type="submit"]:hover {
    background-color: #0056b3;
}

body{
    background-image: url('capamateriais.jpg');
    object-fit: cover;
}